<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CriteriaAssessement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CriteriaAssessement.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>MSI\SQLEXPRESS</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>Диплом</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>321</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>321</value>
            </setting>
            <setting name="JudgeSC" serializeAs="String">
                <value>new DirectoryInfo(@"..\..\..") + JC.docx</value>
            </setting>
        </CriteriaAssessement.Properties.Settings>
    </userSettings>
</configuration>
